<div class="row">
  <div class="col-md-6 m-auto">
    <div class="container mt-5 pl-5">
          <form action="/signup" method="post" enctype="application/x-www-form-urlencoded">
          <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" name="Name" autocomplete="off">
           </div>
           <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" placeholder="username" name="username" autocomplete="off">
           </div>
             <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="email">
         </div>
        <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="password" name="password">
        </div>
        <div class="mb-3">
        <label for="password" class="form-label">Conform Password</label>
        <input type="password" class="form-control" id="cornformpassword" placeholder="conform password" name="conpassed-">
        </div>
        <button type="submit" class="btn btn-primary float-end">Signup</button>
        </div>
         </form>
</div>
</div>